<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/webapp_
2_5.xsd">


<servlet>
<servlet-name>HomeService</servlet-name>
<servlet-class>HomeService</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>HomeService</servlet-name>
<url-pattern>/homeService</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>JsonParserEg</servlet-name>
<servlet-class>JsonParserEg</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>JsonParserEg</servlet-name>
<url-pattern>/jsonParser</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>EditNameService</servlet-name>
<servlet-class>EditNameService</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>EditNameService</servlet-name>
<url-pattern>/editNameService</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>GetCurrentEquipment</servlet-name>
<servlet-class>GetCurrentEquipment</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>GetCurrentEquipment</servlet-name>
<url-pattern>/getCurrentEquipment</url-pattern>
</servlet-mapping>





</web-app>